<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="navbar-inner">
    <div class="container">
      <h1><%= link_to "sample app", '#', id: "logo" %></h1>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
